/*
 *  Components: Buttons
 *  ---
 *  Collection of buttons
 */

.c-logo {
  $size: 200px;
  width: $size;
  height: $size;
  background-color: #7e56ff;
  background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  @include font-size(57px);
  text-decoration: none;
  font-weight: $light;
  transform-style: preserve-3d;
  transform: perspective(500px);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-base;
    box-shadow: 0 20px 70px -10px rgba($color-base, .7), 0 50px 100px 0 rgba($color-base, .2);
    z-index: -1;
    transform: translateZ(-50px);
  }

  > span {
    display: block;
    transform: translateZ(50px) scale(.8);
  }

  &:hover {
    &:after{
      transform: translateZ(-100px);
    }
  }
  .backdrop {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(150deg, #5a00ff 0%, #1fff73 100%, #1fff73 100%);
    transform: translateZ(0px);
    opacity: 0;
    transition: 3s;
  }
}