.faq {
    columns: 2;
    column-gap: 110px;
    margin: 100px auto 50px
}
.faq__item {
    margin-bottom: 45px;
    break-inside: avoid;
    color: rgba(0, 0, 0, .6)
}
.faq__item h2 {
    font-weight: 400
}
header {
    position: relative;
    z-index: 5;
    will-change: transform
}
.package-managers .package-managers-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #070606;
    text-decoration: underline;
    user-select: none
}
.package-managers .package-managers-toggle.open .tooltip {
    transform: scale(1) translateY(10px);
    transition: .2s all cubic-bezier(.34, 1.41, .7, 1)
}
.package-managers .tooltip {
    user-select: text;
    color: #fff;
    background: rgba(7, 6, 6, .9);
    position: absolute;
    top: 110%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 10px;
    border-radius: 25px;
    transition: .15s all cubic-bezier(.455, .03, .515, .955);
    transform: scale(0) translateY(-40px)
}
.package-managers .tooltip::selection {
    background: #fff;
    color: #000
}
.package-managers .tooltip:after {
    top: -5px;
    left: 50%;
    margin-left: -2.5px;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 5px solid #070606;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.tabs {
    margin: 0 auto;
    max-width: 1250px;
    visibility: visible!important;
    opacity: 1!important
}
.tabs__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%
}
.tabs__menu-item {
    width: 50%;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    vertical-align: bottom;
    transition: .2s all cubic-bezier(.215, .61, .355, 1);
    position: relative
}
.tabs__menu-item:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: -1px;
    top: 0;
    background: rgba(7, 6, 6, .1);
    z-index: 2
}
.tabs__menu-item:last-child:after {
    display: none
}
.tabs__menu-item a {
    display: block;
    font-size: 25px;
    padding: 25px 0;
    font-weight: 300;
    text-decoration: none
}
.tabs__menu-item.active {
    position: relative;
    z-index: 20;
    background-color: #070606;
    box-shadow: 0 1px 22px rgba(0, 0, 0, .67);
    transform: scaleY(1.2) translateY(-5px)
}
.tabs__menu-item.active:after {
    display: none
}
.tabs__menu-item.active a {
    color: #fff;
    transform: scaleY(.8)
}
.tabs__content .tabs-features  [class*=grid-] {
    padding: 50px 0;
    animation: none
}
.tabs__content-item {
    background: #070606;
    width: 100%;
    color: #fff;
    max-width: 1250px;
    display: none
}
.tabs__content-item svg {
    display: inline-block
}
.tabs__content-item .table-grid {
    text-align: center
}
.tabs__content-item .table-grid:nth-child(2n+1) [class*=grid-]:nth-child(2n+2), .tabs__content-item .table-grid:nth-child(2n+2) [class*=grid-]:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, .1)
}
.tabs__content-item.active {
    opacity: 1;
    display: block
}
.tabs__content-item.velocity-animating {
    z-index: 2!important
}
.tabs__content .hljs {
    background: 0 0
}
.tab-setup {
    color: rgba(255, 255, 255, .6);
    padding: 80px
}
.tab-setup a {
    color: #fff
}
.tab-setup pre {
    background: #201f1f;
    padding: 30px
}
.tab-setup .row {
    margin-bottom: 50px
}
.tab-setup .t-c {
    padding-right: 50px
}
.tab-setup .t-c:last-of-type {
    padding-right: 0
}
.tabs h2 {
    color: #fff;
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase
}
pre {
    margin: 0
}
pre code {
    padding: 0!important
}
.feature-item {
    margin-top: 20px;
    font-size: 14px
}
.package-link {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px
}
.manual {
    padding: 0 20px
}
.manual a {
    color: #fff
}
.democontent {
    padding-bottom: 100px
}
.democontent>h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 50px;
    font-size: 25.5px;
}
.tabdemo ul {
    margin: 0;
    padding: 0
}
.tabdemo .tabdemo__content-item {
    max-width: 1250px
}
.tabdemo--one {
    margin: 0 auto
}
.tabdemo--one .tabdemo__content-item {
    padding: 50px;
    background: #f9f9f9;
    columns: 2;
    font-size: 19px;
    line-height: 32px
}
.tabdemo--one .tabdemo__menu {
    margin-bottom: 50px;
    display: table;
    width: 100%
}
.tabdemo--one li {
    cursor: pointer;
    padding: 0 20px;
    display: table-cell;
    text-align: center
}
.tabdemo--one li:first-of-type {
    padding-left: 0
}
.tabdemo--one li:last-of-type {
    padding-right: 0
}
.tabdemo--one li a {
    background-color: #f9f9f9;
    border-radius: 1px;
    padding: 20px 40px;
    display: block
}
.tabdemo--one li.active a {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .33)
}
.tabdemo--one li a {
    text-decoration: none
}
.hidden {
    position: relative;
    overflow: hidden
}
.coming-soon {
    margin: 100px 0
}
@keyframes reveal {
    to {
        transform: translateY(0);
        opacity: 1
   }
}