/*
 *  Form
 *  ---
 *  Default styles for form elements
 */

label {
  display: block;
}

.c-input {
  $input-padding: quarter($global-spacing-unit) !default;
  $input-border-width: 1px !default;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  padding: $input-padding - $input-border-width;

  @if ($input-border-width != 0) {
    border: $input-border-width solid black;
  } @else {
    border: none; /* [4] */
  }
}