html,body{
  height: 100%;
}

body{
  background-color: #FFF;
  background-image: linear-gradient(to top, #F3F3F3 0%, #FFF 100%);
  background-repeat: no-repeat;
}

.heading{
  margin: 6rem 0;
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: $light;
  line-height: 1.4;
}

.bottom{
  padding-bottom: 6rem;
}