html,body{
  height: 100%;
}

p{
  a{
    color: $blue;
    &:visited{
      color: lighten($blue, 15%);
    }
  }
}

body{
  &:after{
    content:'';
    position: fixed;
    will-change: transform;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-image: linear-gradient(to top, #F3F3F3 0%, #FFF 100%);
    background-repeat: no-repeat;
  }
}

.heading{
  margin: 6rem 0;
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: $light;
  line-height: 1.4;
}

.bottom{
  padding-bottom: 6rem;
}