/*
 *  Utilities: Icon colors
 *  ---
 *  Icon fill color helper classes
 */

@each $color, $val in $palettes {
  @each $tint, $i in $val {

    /**
     * icon color classes (e.g.: u-icon-color-white)
     */
    .u-icon-#{$color} {
      fill: map-get($val, 'base');
    }

    /**
     * icon color classes (e.g.: u-icon-color-white)
     */
    .u-icon-#{$color}-#{$tint} {
      fill: map-get($val, $tint);
    }
  }
}


/**
 * Set icon to current color value
 */
.u-icon-currentColor{
  fill: currentColor !important;
}