/**
 * Styles for _base.scss
 * @Author: Gijs Rogé
 */

body {
  max-width: 750px;
  margin-left: 35%;
  transform: translateX(-50%);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1 {
  margin-bottom: .25em;
  margin-top: 0;
  span {
    color: $green;
  }

  + p {
    margin-top: 0;
  }
}

p{
  line-height: 1.75;
  &:only-child,&:last-child{
    margin-bottom: 0;
  }
}

a{
  color: $blue;
}

a[href^="http://dribbble"] {
  color: #ea4c89;
}

/**
 * Contact sentence
 */
.contact{
  margin-top: 20%;
  color: rgba($base, .6);
  padding-left: 2.5em;
}