/**
 * Styles for _base.scss
 * @Author: Gijs Rogé
 */

body {
  max-width: 750px;
  margin-top: 10%;
  @media (min-width: 1100px) {
    margin-left: 15%;
    min-width: 320px;
  }
  display: flex;
  flex-direction: column;

  @media (max-width: 1100px) {
    max-width: 750px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 750px) {
    padding: 4rem;
    font-size: 150%;
    margin-top: 0;
    width: 100%;
  }

  @media (max-width: 450px) {
    padding: 2rem;
  }
}

h1 {
  margin-bottom: .25em;
  margin-top: 0;
  span {
    color: $green;
  }

  + p {
    margin-top: 0;
  }
}

p{
  line-height: 1.75;
  &:only-child,&:last-child{
    margin-bottom: 0;
  }
}

a{
  color: $blue;
}

a[href^="http://dribbble"] {
  color: #ea4c89;
}

/**
 * Contact sentence
 */
.contact{
  margin-top: 20%;
  color: rgba($base, .6);
  padding-left: 2.5em;
}