/*
 *  Parapgraphs
 *  ---
 *  Default styles for paragraphs
 */

p{
  max-width: em($paragraph-width);
  
  &:only-child{
    margin: 0;
  }
  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:empty{
    display: none;
  }
}

.e-paragraph--small{
  @include font-size($font-size-small);
  font-weight: $light;
}