
//Project
$black: #070606;
$orange: #f7941e;
$pink: #eb008b;
$brown: #c9b9a7;

$link: #070606;
$link-hover: lighten($link, 10%);

$base: $black;
$heading: $black;

$error: #f4142e;
$succes: #00b900;

$border-color: black;
$input-color: black;