/* Font family's */
$base-font-family: 'Open Sans', 'Segoe UI', 'Gill Sans' ,'Open Sans',  sans-serif;
$heading-font-family: 'Yanone Kaffeesatz', 'Segoe UI', 'Gill Sans' ,'Open Sans',  sans-serif;

/* Font weights */
$bold: 700;
$semi: 600;
$normal: 400;
$light: 300;

/* Font sizes */
$base-font-size: 17px;
$large-font-size: 20px;
$small-font-size: 13px;

$base-line-height: 28px;
$large-line-height: 32px;
$small-line-height: 24px;