/*
 *  Settings: Colors
 *  ---
 *  Every color that is being used should be defined here.
 *  Based on : http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 */

$color-base: #1b1b1b !default;
$color-white: #fff !default;
$color-neutral: #e8e8e8 !default;
$color-error: #DA2327 !default;
$color-success: #39A33D !default;

// Palettes
$palettes: (
        color-base: (
                x-light : hsl(hue($color-base), 0, 100),
                light : hsl(hue($color-base), 0, 90),
                medium : hsl(hue($color-base), 0, 80),
                base : $color-base,
                dark : hsl(hue($color-base), 0, 0)
        ),
        color-white: (
                base : $color-white
        ),
        color-neutral: (
                x-light : hsl(hue($color-neutral), 0, 100),
                light : hsl(hue($color-neutral), 0, 93),
                base : $color-neutral,
                medium : hsl(hue($color-neutral), 0, 90),
                dark : hsl(hue($color-neutral), 0, 70),
                x-dark : hsl(hue($color-neutral), 0, 50)
        ),
        color-error: (
                light : hsl(hue($color-error), 70, 60),
                base : $color-error,
                dark : hsl(hue($color-error), 100, 35),
        ),
        color-success: (
                light : hsl(hue($color-success), 70, 60),
                base : $color-success,
                dark : hsl(hue($color-success), 60, 25),
        )
) !default;